<li class="nav-item">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-users"></i>
        <span class="title"><%= t('.purchases') %></span>
        <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
        <li class="nav-item ">
            <a href="" class="nav-link ">
                <span class="title"><%= t('.orders') %></span>
            </a>
        </li>
        <li class="nav-item ">
            <a href="" class="nav-link ">
                <span class="title"><%= t('.order_history') %></span>
            </a>
        </li>
    </ul>
</li>