<li class="nav-item <%= "active open" if [].include?(params[:controller]) %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-cogs"></i>
        <span class="title"><%= t('.system') %></span>
        <% if [].include?(params[:controller]) %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <li class="nav-item ">
            <a href="" class="nav-link ">
                <span class="title"><%= t('.system_configuration') %></span>
            </a>
        </li>
        <li class="nav-item ">
            <a href="" class="nav-link ">
                <span class="title"><%= t('.storage_and_recovery') %></span>
            </a>
        </li>
    </ul>
</li>
