.page-header.navbar .page-logo .logo-default {
    margin: 15px 14px 0 0;
    height: 18px;
}
.table-matrix {
    /*width: 2000px;*/
}
.datalist-matrix .datalist-container {
    overflow-x: auto;
}
.table-matrix td:hover {
    /*opacity: 0.8;*/
    font-weight: 600;
}
