@charset "utf-8";
/* Start Responsive css */

@media only screen and (min-device-width: 991px) and (max-device-width: 1200px) {
.coming-soon-content {
	padding: 35px 0px;
}
.coming-soon-content h1 {
	font-size: 28px;
}
.countdown-alt-2 .item {
	margin: 0px 13px;
	width: 65px;
	height: 65px;
}
.countdown-alt-2 .label {
	font-size: 11px;
}
.coming-soon-animated {
	max-width: 270px;
	left: 100px;
	top: 65px;
}
}
 @media only screen and (min-device-width: 320px) and (max-device-width: 990px) {
.main-section {
	height: auto;
}
.coming-soon-animated {
	max-width: 270px;
	left: 190px;
	top: 68px;
}
}
 @media only screen and (max-device-width: 767px) {
.animation-wrapper {
	max-width: 441px;
	margin: 0 auto;
}
.coming-soon-animated {
	left: 90px;
	max-width: 220px;
	top: 53px;
}
.gear-animation {
	left: 0;
}
}
@media only screen and (max-device-width: 498px) {
.animation-wrapper {
	max-width: 260px;
}
.gear-animation {
	width: 30px;
	height: 30px;
	top: 20px;
}
.coming-soon-animated {
	left: 54px;
	max-width: 130px;
	top: 31px;
}
}
 @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
.header-section {
	padding: 10px 0px;
}
.header-section .logo {
	max-width: 90px;
}
.header-section .nav li {
	margin: 0px 7px;
}
.main-content-section {
	padding: 40px 0px 0px 0px;
}
.coming-soon-content {
	padding: 20px 0px;
}
.coming-soon-content h1, .main-section .modal-content h2 {
	font-size: 24px;
}
.countdown-alt-2 .item {
	margin: 20px;
}
.main-section .modal-content p {
	padding: 0px;
}
.subscribe-form .button-subscribe, .subscribe-form input {
	width: auto;
}
}


/* End Responsive css */