
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Animated Responsive Coming Soon Template...">
<meta name="keywords" content="Under Construction, Coming Soon, Responsive Coming Soon Template, Animated Coming Soon Tempate">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
<title>Excavator - Responsive Coming Soon Template</title>

<!-- Bootstrap -->
<link href="/coming/css/bootstrap.min.css" rel="stylesheet">
<link href="/coming/css/font-awesome.css" rel="stylesheet">
<link href="/coming/css/style.css" rel="stylesheet">
<link href="/coming/css/responsive.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="main-section">
  <div class="wrapper"> 
    <!-- Start header section-->
    <header class="header-section">
      <div class="container"> 
        <!-- Start Logo section--> 
        <a title="Excavator" class="logo" href="#"> <img src="/backend/img/logo-big-3.png" alt="Excavator"/> </a> 
        <!-- End Logo section--> 
        
        <!-- Start Nav section-->
        <ul class="nav">
          <li> <a title="Subscribe" class="btn-newsletter" data-toggle="modal" data-target=".newsletter-modal" href="#"> <i class="fa fa-envelope" aria-hidden="true"></i></a> </li>
          <li> <a title="About Us" class="btn-info" data-toggle="modal" data-target=".info-modal" href="#"> <i class="fa fa-info" aria-hidden="true"></i> </a> </li>
          <li> <a title="Contact Us" class="btn-contect" data-toggle="modal" data-target=".contact-modal" href="#"> <i class="fa fa-map-marker" aria-hidden="true"></i> </a> </li>
        </ul>
        <!-- End Nav section--> 
      </div>
    </header>
    <!-- End header section--> 
    
    <!-- Start Main Content-->
    <div class="main-content-section">
      <div class="container">
        <div class="row"> 
          <!-- Start Animation img-->
          <div class="col-md-7 col-lg-7">
            <div class="animation-wrapper text-center">
              <div class="coming-soon-main"> <img src="/coming/img/coming-soon-main.png" alt=""> </div>
              <div class="gear-animation"> <img src="/coming/img/gear-lg.png" alt=""> </div>
              <div class="coming-soon-animated animated infinite shake"> <img src="/coming/img/coming-soon-animated.png" alt=""> </div>
            </div>
          </div>
          <!-- End Animation img--> 
          
          <!-- Start Coming Soon Content-->
          <div class="col-md-5 col-lg-5">
            <div class="coming-soon-content">
              <h1>Hệ Thống ERP ORTHO-K Đang Được Phát Triển</h1>              
              <div class="alt-2">120 days, 3:59:12</div>
            </div>
          </div>
          <!-- End Coming Soon Content--> 
        </div>
      </div>
    </div>
    <!-- End Main Content--> 
    <!-- Start Newsletter-modal-->
    <div class="modal fade newsletter-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <h2> Subscribe & Stay Updated </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi iste quam temporibus in esse tempore eius id magnam ullam. </p>
          <form class="subscribe-form">
            <input id="mc-email" type="email" placeholder="Your E-Mail" name="EMAIL">
            <button class="button-subscribe" type="button"> Notify me </button>
          </form>
        </div>
      </div>
    </div>
    <!-- End Newslette-modal--> 
    
    <!-- Start Info-modal-->
    <div class="modal fade info-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <h2> About us </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ducimus ea in magnam qui quo rem repellendus totam? Amet beatae ducimus eaque ex excepturi itaque neque ullam veritatis voluptas voluptatibus! </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ducimus ea in magnam qui quo rem repellendus totam? Amet beatae ducimus eaque ex excepturi itaque neque ullam veritatis voluptas voluptatibus! </p>
          <ul class="social-icon">
            <li class="facebook"> <a title="Facebook" href="#"> <i class="fa fa-facebook" aria-hidden="true"> </i> </a> </li>
            <li class="twitter"> <a title="Twitter" href="#"> <i class="fa fa-twitter" aria-hidden="true"></i> </a> </li>
            <li class="linkedin"> <a title="Linkedin" href="#"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a> </li>
            <li class="pinterest"> <a title="Pinterest" href="#"> <i class="fa fa-pinterest-p" aria-hidden="true"></i> </a> </li>
            <li class="google-plus"> <a title="Google Plus" href="#"> <i class="fa fa-google-plus" aria-hidden="true"></i> </a> </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Info-modal--> 
    
    <!-- Start Contect-modal-->
    <div class="modal fade contact-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <h2>Contact Us </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ducimus ea in magnam qui quo rem repellendus totam? Amet beatae ducimus eaque ex excepturi itaque neque ullam veritatis voluptas voluptatibus! </p>
          <div class="row contact-row">
            <div class="col-md-4"> <i class="fa fa-phone" aria-hidden="true"></i>
              <h3> Phone </h3>
              <p>+1 (866) 496-3250 </p>
            </div>
            <div class="col-md-4"> <i class="fa fa-map-marker" aria-hidden="true"></i>
              <h3> Address </h3>
              <p>200 Aquarium Way Long Beach, CA 90803, United States </p>
            </div>
            <div class="col-md-4"> <i class="fa fa-envelope" aria-hidden="true"></i>
              <h3> Email </h3>
              <p>email@sitename.com </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Contect-modal--> 
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="/coming/js/bootstrap.min.js"></script> 
<script src="/coming/js/jquery.countdown.js"></script> 
<script>
window.jQuery(function ($) {
    "use strict";

   
    $('.alt-2').countDown({
        css_class: 'countdown-alt-2'
    });

});
</script>
</html>