<html lang="en-vi">
  <head>
    <style>
      body {
        font-size: 50pt;
        padding: 10px;
        background-color: rgb(30, 33, 37);
        font-family: monospace;
        text-align: center;
        color: #ccc;
      }
      
      section p,
      span {
        margin: 0;
        padding: 0;
        font-size: 15px;
        font-style: italic;
        font-weight: 300;
        line-height: 25px;
        color: white;
      }
      
      span{
        font-size: 10pt;
        color: white;
      }
      
      h3 {
        font-size: 35px;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <section class="forbidden">
      <h3>QUYỀN TRUY CẬP KHÔNG ĐƯỢC PHÉP!</h3>
      <p>Bạn đã cố gắng truy cập một trang mà bạn không được cấp quyền hoặc có thể trang này đã bị khóa.</p>
    </section>
  </body>
</html>